<!doctype html>
<html>
    <body>
        <h1>User Signup Page</h1>
        <form action="/" method ="post">
            <label for="user-name">User Name:</label>
            <input id="user-name" type="text" name="user_name" />
            

            <label for="password">Password:</label>
            <input id="password" type="password" name="password" />
            

            <label for="verify-password">Verify Password:</label>
            <input id="verify-password" type="password" name="verify_password" />
            

            <label for="email">Email (optional):</label>
            <input id="email" type="text" name="email" />
            <input type="submit" />

        </form>
    </body>
</html>